.jobdetails-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

.job-description h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
}

.job-description p {
  color: #757575;
}
.job-details button{
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  width: 100%;
border-radius: 8px;
padding: 16px 20px;
text-align: center;
}