
/*************Intro*******/
.intro{
    display: flex;
}
.intro-paragrapgh{
    width: 570px;
height: 511px;
margin-top: 100px;
}
.intro-paragrapgh h2{
    font-weight: 800;
font-size: 50px;
}
.intro-paragrapgh p{
    color: #757575;
    text-align: justify;
    text-justify: inter-word;
}
.intro button{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
border-radius: 8px;
}
/*************Featured jobs*******/
.circulars-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.category-container{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}