.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
.header h2 {
  width: 100px;
  height: 44px;
  margin-right: 200px;
}
.nav-links{
    margin-right: 200px;
    
}
nav a {
  margin-right: 42px;
  font-size: 16px;
}
.btn-apply {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
}


/* For mobile devices */
@media (max-width: 767px) {
  .header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40%;
  }
  .nav-links{
    display: grid;
    grid-template-columns: 1fr;
  }
  .btn-apply{
    width: 30%;
  }
}

/* For larger devices */
@media (min-width: 768px) {
  .header{
    width: 85%;
  }
}